<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Todo-list</title>
</head>
<body>
    <div id='root'>
        <input v-model="inputValue"/>
        <div>{{ inputValue }}</div>
        <button @click="addTodo">Add</button>
        <todo-item v-for="(item,index) in todolist" :key="index" :content="item"></todo-item>
    </div>
<script>
    // 全局组件 todo项
    Vue.component('todo-item',{
        props: ['content'],
        template: '<li>{{ content }}</li>',
    });

    // todolist
    new Vue({
        el: '#root',
        data: {
            inputValue: '',
            todolist: [],
        },
        methods: {
            addTodo() {
                this.todolist.push(this.inputValue);
                this.inputValue = '';
            },
        },
    });
</script>
</body>
</html>